
 <%=image_tag 'navbutton.png', :class => 'buy-title sliding-panel-button'%>

</button>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="javascript:void(0)"><%= link_to('Home', root_path) %></a></li>
    <% if session[:user_id] %>
      <li id='inbox_icon'><a href='#'><%=image_tag 'images.jpg', id: 'inbox_nav'%><% if @invitations %><%=image_tag 'new.png', id: 'notify'%><%end%></a></li>

    <li><%=link_to 'Profile', user_path(current_user) %></li>
    <li><%=link_to 'Logout', logout_path %></li>
    <% else %>
    <li class="modal-trigger"><a class="modal-trigger" href='#'>Sign Up!</a><li>
    <li id='logging'><a href="javascript:void(0)">Login</a></li>


    <%end%>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
