<div id='login'>
  <%= form_for @user do |u| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= u.label :username %> <br>
      <%= u.text_field :name%>
    </p>
     <p>
       <%= u.collection_select(:categories, @categories, :id, :topic) %>

           <p>
             <%= u.label :skill_list, "Skills (separated by commas)" %><br/>
             <%= u.text_field :skill_list %>
           </p>
     </p>
    <p>
      <%= u.label :email  %> <br>
      <%= u.text_field :email %>
    </p>
       <%= u.label :about  %> <br>
      <%= u.text_area :about%>

       <span>https://www.linkedin.com/in/ <%= u.text_field :linkedin %></span>



    <p>
      <%= u.label :password %> <br>
      <%= u.password_field :password %>
    </p>

    <p>
      <%= u.submit %>
    </p>

  <% end %>
</div>