<div class="cards">
  <div class="card">
     <% if user.basic_profile   %>
      <img src="<%= user.basic_profile.picture_url  %>"/>
     <% elsif user.image_url %>
        <img src="<%= user.image_url %>"/>
      <% elsif user.image_url==nil && user.basic_profile == nil %>
        <img src="<%= gravatar_url(user.email,60)%>" %>
      <% end %>
    <div class="card-header">
       <%=link_to "#{user.name}", user_path(user) %> <br>
    </div>
    <div class="card-copy">
      <p class='<%= user.id   %>'>Rating: <%= user.rating %></p>
      <p> skills: styling and profiling</p>
      <div><button id='<%= user.id %>' class='popup'>Invite</button>
      <button data-id='<%= user.id %>' class='popup1'>Rate Me!</button></div>
    </div>
  </div>
</div>

