<div class="cards">
  <div class="card">
     <% if  user.image_url%>
      <img src="<%= user.image_url %>"/>
       <% else %>
      <img src="<%= gravatar_url(user.email,100)%>"%>
     <% end %>
    <div class="card-header">
        <%=user.name%><br>
    </div>
    <div class="card-copy">

      <p> skills: styling and profiling<br>
        Rating: <%= @rating %></p>
      <div><button id='<%= user.id %>' class='popup'>Invite</button>
      <button data-id='<%= user.id %>' class='popup1'>Rate Me!</button></div>
    </div>
  </div>
</div>