
<!-- <div id="popupContact">
  <div id = "messages">
    <% invitations.each do |invitation| %>
      <p><%= invitation.agreed_time %></p>
      <p><%= invitation.location %></p>
      <button>Accept</button>
      <% end %>

   <% sent.each do |sent| %>
    <p><%= sent.agreed_time %></p>
    <p><%= sent.location %></p>
    <p>sent.status</p>
    <% end %>
</div>
</div> -->
<div id="abc">
  <div id="popupContact">
    <div class="comment">
      <div class="comment-image">

      </div>
      <div class="comment-content">
        <div class='button-switch'><button id='sent'>Received</button>   <button id='accepted'>Accepted</button><button class="x-button message">X</button></div>
        <div id='invites'>
          <% invitations.each do |invitation| %>
          <div class="separate"></div>
            <p><span class='messages'>From: </span><%= invitation.user.name %><br>
            <span class='messages'>Time: </span><%= invitation.agreed_time %></p>
            <div><span class='messages'>Question: </span><%= invitation.question %></div>
            <p><span class='messages'>Location: </span><%= invitation.location %></p>
          </p>
            <button class='inv-accept' data-id='<%= invitation.id %>'>Accept</button>
          <% end %>
        </div>
          <div id='appoints' style="display:none">
          <% appointments.each do |invitation| %>
          <div class="separate"></div>
            <p><span class='messages'>From: </span><%= invitation.user.name %><br>
            <span class='messages'>Time: </span><%= invitation.agreed_time %></p>
            <div><span class='messages'>Question: </span><%= invitation.question %></div>
            <p><span class='messages'>Location: </span><%= invitation.location %></p>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>