
<!-- <div id="popupContact">
  <div id = "messages">
    <% invitations.each do |invitation| %>
      <p><%= invitation.agreed_time %></p>
      <p><%= invitation.location %></p>
      <button>Accept</button>
      <% end %>

   <% sent.each do |sent| %>
    <p><%= sent.agreed_time %></p>
    <p><%= sent.location %></p>
    <p>sent.status</p>
    <% end %>
</div>
</div> -->

<div id="popupContact">
  <div class="comment">
    <div class="comment-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
    </div>
    <div class="comment-content">

      <button id='sent'>Received</button><button id='accepted'>Accepted</button>
      <div id='invites'>
        <% invitations.each do |invitation| %>
          <p><%= invitation.agreed_time %> <br>
          <%= invitation.location %>
        </p>
          <button class='inv-accept' data-id='<%= invitation.id %>'>Accept</button>
          <div class="separate"></div>
        <% end %>
      </div>
        <div id='appoints' style="display:none">
        <% appointments.each do |invitation| %>
          <p><%= invitation.agreed_time %> <br>
          <%= invitation.location %>
        </p>
          <div class="separate"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

