<div id='abc1'>
    <div id="popupContact">
      <form class='invite' action="/invitations" method="post" name="form">
        <button class="x-button2">X</button>
        <h2>Invite</h2>
        <hr>
        <textarea name="invitation[question]" placeholder="Type Question Here!!!"></textarea>
        <label>Time: <select name='invitation[agreed_time]'>
          <option value="<%=(Time.now + 1800).strftime("%I:%M:%S%P")%>"><%=(Time.now + 1800).strftime("%I:%M")%></option>
          <option value="<%=(Time.now + 3600).strftime("%I:%M:%S%P")%>"><%=(Time.now + 3600).strftime("%I:%M")%></option>
          <option value="<%=(Time.now + 5400).strftime("%I:%M:%S%P")%>"><%=(Time.now + 5400).strftime("%I:%M")%></option>
          <option value="<%=(Time.now + 7200).strftime("%I:%M:%S%P")%>"><%=(Time.now + 7200).strftime("%I:%M")%></option>
        </select>
        </label>
        <input style='width:100%;bottom:20px' name='invitation[location]' ng-model="chosenPlace" googleplace value='{{chosenPlace}}'/>
        <input class='user' name='invitation[mentor_id]' type='hidden' value=''/>
        <input id='submit' type='submit' value='Send Invite!' />
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      </form>
    </div>
  </div>